#container {
  width: 90%;
  transform: translateY(-10%);
  text-align: center;
  display: block;
  align-items: center;
  justify-content: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-style:initial;
margin: auto;
}



h1{
  color:black;
}

  
  .toolbar {
 color:black;
 --background:rgb(213, 129, 32);
  }

  .my-custom-menu {
    --width: 500px;
  }

  
  .imagem{
width: 55%;
height: 25%;
position:relative;
top:10%;
display: block;
 margin: 0px auto;
transform: translateY(-70%);
  }

  .hr1 {
    top:12%;
    height: 10%;
position:relative;
    border-top: 2% thick solid rgb(0, 0, 0);
    width: 100%;
    color:rgb(213, 129, 32);
   }

   .fundobranco{
    --background:rgb(217, 217, 217);
  color:black;
  }

  
    ion-button{
    --border-color: orange;
    --background: orange;
    --color:black;
    }
  
    .content{
     box-align: middle;
    }

    .alinhar{
      background:none;
      --background:none;
    }
