<ion-content [fullscreen]="true">

<body style="background-color: rgb(246, 246, 246);"></body>

<ion-header >
<ion-toolbar mode="md" class="toolbar">
  <ion-buttons slot="start">
<ion-menu-button> </ion-menu-button>
</ion-buttons>
<ion-title>
  Seu Perfil
</ion-title>
</ion-toolbar>
</ion-header>

<hr style="background-color:rgb(228, 142, 44);" class="hr1">

<img class="imagem" src="assets/img/avataricon.png">


<div id="container">

  <h1> Dados do úsuario: </h1>


  <ion-list *ngIf="dados" class="alinhar" lines="none">

    <ion-item color="orange" mode="md" class="fundobranco" fill="outline" >
      <ion-label position="stacked">Número do ingresso:</ion-label>
      <ion-input readonly="true" type="text" value="{{dados.numingresso}}" ></ion-input>
      </ion-item>

        <ion-item color="orange" mode="md" class="fundobranco" fill="outline" >
          <ion-label position="stacked">Código do Ticket:</ion-label>
          <ion-input readonly="true" type="text" value="{{dados.codingresso}}"></ion-input>
          </ion-item>


  <ion-item color="orange" mode="md" class="fundobranco" fill="outline" >
    <ion-label position="stacked">Nome:</ion-label>
  <ion-input disabled="{{atualizar}}" type="text" value="{{nome}}" [(ngModel)]="nome"></ion-input>
  </ion-item>

  <ion-item color="orange" mode="md" class="fundobranco" fill="outline" >
    <ion-label position="stacked">Email:</ion-label>
  <ion-input disabled="{{atualizar}}" type="email" value="{{email}}" [(ngModel)]="email"></ion-input>
  </ion-item>

<ion-item color="orange" mode="md" class="fundobranco" fill="outline" >
  <ion-label position="stacked">CPF:</ion-label>
  <ion-input disabled="{{atualizar}}" type="text" value="{{cpf}}" [(ngModel)]="cpf"></ion-input>
  </ion-item>

  <ion-item color="orange" mode="md" class="fundobranco" fill="outline" >
    <ion-label position="stacked">Idade:</ion-label>
  <ion-input disabled="{{atualizar}}" type="number" value="{{idade}}" [(ngModel)]="idade"></ion-input>
  </ion-item>

  <ion-item color="orange" mode="md" class="fundobranco" fill="outline" >
    <ion-label position="stacked">Telefone:</ion-label>
    <ion-input disabled="{{atualizar}}" type="number" value="{{telefone}}" [(ngModel)]="telefone"></ion-input>
    </ion-item>

    <ion-item color="orange" mode="md" class="fundobranco" fill="outline" >
      <ion-label position="stacked">Senha:</ion-label>
      <ion-input disabled="{{atualizar}}" type="password" value="{{senha}}" [(ngModel)]="senha"></ion-input>
      </ion-item>

<br>
<ion-button expand="block" shape="round" (click)="atualizarDados()">Atualizar Dados</ion-button>
<ion-button expand="block" shape="round" (click)="confirmar()" disabled="{{atualizar}}">Confirmar alterações</ion-button>

</ion-list>


</div>


</ion-content>