<body style="background-color: rgb(246, 246, 246);">



<ion-header>
<ion-toolbar mode="md" class="toolbar">
  <ion-buttons slot="start">
<ion-menu-button> </ion-menu-button>
</ion-buttons>
<ion-title>
  Sobre - Paulo Freire
</ion-title>
</ion-toolbar>
</ion-header>


<ion-content color="none" class="transparent2">

  <img id="container" src="assets/img/EVENTO.png">


  <ion-item color="none" class="transparent">
    <ion-label class="titulos">
      Quem foi Paulo Freire?
    </ion-label>
  </ion-item>
  
  
  <ion-item color="none" class="texto2">
    <ion-label class="ion-text-wrap">
      <div id="textos">
      Paulo Freire, o Patrono da Educação Brasileira e autor da “Pedagogia do
Oprimido”, nasceu em 19 de setembro de 1921 em Recife. Paulo tornou-se
uma inspiração para professores, o seu talento como escritor ajudou na
conquista de um amplo público de cientistas sociais, teólogos e militantes
políticos. O método Paulo Freire estimula a alfabetização de adultos
mediante a discussão de suas experiências de vida entre si, através de
palavras presentes na realidade dos alunos, que são decodificadas para a
aquisição da palavra escrita e da compreensão do mundo.
</div>
    </ion-label>
  </ion-item>


  <br>
  <img src="assets/img/paulof.jpg">

<br><br><br><br><br><br>



</ion-content>



</body>

