#container {
    top: 5%;
    margin-bottom: 10%;
    position:relative;
  }

  .transparent{
	border-color: rgba(0, 0, 0, 0);
	background-color: rgba(0, 0, 0, 0);
    background: transparent;
    --background: transparent;
    color:black;



}

.transparent2{
	border-color: rgba(0, 0, 0, 0);
	background-color: rgba(0, 0, 0, 0);
    background: transparent;
    --background: transparent;
}

.toolbar {
    color:black;
    --background:rgb(213, 129, 32);
     }

.texto2{
    position:relative;
    top: 1%;
    color:black;
}

.titulos{
    font-size:100%;
    font-weight: 500; 
    font-weight: bold;
    color:rgb(0, 0, 0);
 }
 #textos{
     font-size:15px;
     padding: 3px;
  }