<body style="background-color: rgb(255, 255, 255);">

<img class="imagem" src="assets/img/confirm.png">
<br>
<img class="imagem2" src="assets/img/concluidopreto.png">
<br>


<ion-content class="transparent" padding>


  <div id="container" class="container-buttons">
    
    <ion-button expand="block" class="button"  shape="round" routerLink="/home">Voltar para página principal</ion-button>
    <br><ion-button expand="block"  shape="round" routerLink="/login">Login</ion-button>
  </div>


  </ion-content>

  </body>