.imagem {
    text-align: center;
    position: relative;
    left: 5%;
    right: 0;
    top: 33%;

    width: 90%;
    height: auto;
  }

#loading{

  position: relative;
  left: 46%;
  right: 0;
  top: 30%;

  
}