.container {
    display: block;
    align-items: center;
    justify-content: center;
  }

  .transparent{
	border-color: rgba(0, 0, 0, 0);
	background-color: rgba(0, 0, 0, 0);
    background: transparent;
    --background: transparent;
    color:black;

}

#container{
    top: 5%;
    margin-bottom: 10%;
    position:relative;
}

.texto2{
    display:block;
    top: 1%;
    color:black;

}

.alinhartexto{
    left: 40px;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.corlink{
    text-decoration:none;
    color:black;
    font-weight: bold;
}

.titulos{
    font-size:100%;
    font-weight: 500; 
    font-weight: bold;
    color:rgb(0, 0, 0);
 }
 #textos{
    display:block;
  }

  .toolbar1 {
    color:black;
    --background:rgb(213, 129, 32);
     }
 
     p{
        font-size: 100%;
        font-weight: bold;
     }