

<body style="background-color: rgb(255, 255, 255);">
  <img class="imagem" src="assets/img/EVENTO.png">



<ion-content class="transparent" padding>



  <div id="container" class="container-buttons">
    
    <ion-button expand="block" class="button"  shape="round" routerLink="/cadastro">Cadastro</ion-button>
    <br><ion-button expand="block"  shape="round" routerLink="/login">Acessar</ion-button>
  </div>

  <img class="imagem2" src="assets/img/booktransparent.png">


  </ion-content>




</body>



<ion-footer mode="ios" class="footerzin" color="none" >
  <ion-toolbar color="none" class="toolbarcolor">
    <ion-title></ion-title>
  </ion-toolbar>
</ion-footer>
